<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1145.v7f2433caa07f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.3"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.3">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2648.va9433432b33c">
    <script>pipeline {
    agent any //{
    //    node {
    //        label &apos;mavenjobs&apos;
    //    }
    //}
    // environment {
    //    PATH = &quot;/opt/maven-3.8.4/bin:$PATH&quot;
    //}
    tools {
	    maven &apos;maven-3.8.4&apos;
	   }
    stages {
        stage(&quot;Testing Git&quot;) {
            steps {
                echo &quot;Tesing SSH&quot;
                git credentialsId: &apos;0c4d1887-8697-4464-b673-372be88bb681&apos;, url: &apos;git@github.com:pankaj0825/live-clock.git&apos;
            }
        }
        stage(&quot;Testing Maven&quot;) {
            steps {
                echo &quot;Tesing Maven&quot;
                sh &quot;mvn clean install&quot;
            }
        }
        stage(&quot;Testing Deployment&quot;) {
            steps {
                echo &quot;Tesing Deployment&quot;
                sshagent([&apos;tomcat_server&apos;]) {
            //  scp &lt;src_file&gt; username@IP:&lt;dest_path&gt;
                sh &quot;scp -o StrictHostKeyChecking=no webapp/target/webapp.war tomcat@3.86.229.84:/opt/apache-tomcat-8.5.73/webapps&quot;
}
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>